<table class="statustable">

  <tr>
    <th><h2>Web Server ({{webhost}})</h2></th>
    <th><h2>Application Server ({{apphost}})</h2></th>
    <th><h2>Database Server ({{dbhost}})</h2></th>
  </tr>

  <tr>
    <td>

      <div *ngIf="this.webStatus; else loading">
        <div class="datatable">
          <table mat-table [dataSource]="webStatus" class="mat-elevation-z8">

            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef>Item</th>
              <td mat-cell *matCellDef="let element">{{element.item}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let element"><p class="{{element.class}}">{{element.value}}</p></td>
            </ng-container>

            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="tablerow"></tr>

          </table>
        </div>
      </div>
    </td>

    <td>
      <div *ngIf="this.appStatus; else loading">
        <div class="datatable">
          <table mat-table [dataSource]="appStatus" class="mat-elevation-z8">

            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef>Item</th>
              <td mat-cell *matCellDef="let element">{{element.item}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let element"><p class="{{element.class}}">{{element.value}}</p></td>
            </ng-container>

            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="tablerow"></tr>

          </table>
        </div>
      </div>
    </td>

    <td>
      <div *ngIf="this.dbStatus; else loading">
        <div class="datatable">
          <table mat-table [dataSource]="dbStatus" class="mat-elevation-z8">

            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef>Item</th>
              <td mat-cell *matCellDef="let element">{{element.item}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let element"><p class="{{element.class}}">{{element.value}}</p></td>
            </ng-container>

            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="tablerow"></tr>

          </table>
        </div>
      </div>
    </td>

  </tr>

</table>

<ng-template #loading><p>Loading...</p></ng-template>
