h2 {
  background-color: rgb(0,36,112);
  color: white;
  padding: 5px;
  padding-left: 25px;
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 1em;
}

.datatable {
  padding-left: 10px;
  padding-right: 10px;
}

// .mat-table {
//   width: 100%;
// }

// .mat-table-row {
//   width: 100%;
// }

.mat-column-item {
  width: 200px;
}

.mat-column-value {
  //
  text-align: center;
}

// .mat-column-status {
//   width: 25px;
//   text-align: center;
// }

.warn {
  // background-color: rgb(255, 0, 0);
  background-color: rgb(255, 221, 221);
  border-color: red !important;
  border-radius: 10px;
  border-style: solid !important;
  border: 2px;
  padding: 5px;
  color: red;
}

.ok {
  background-color: rgb(225, 255, 211);
  border-color: rgb(0, 255, 0) !important;
  border-radius: 10px;
  border-style: solid !important;
  border: 2px;
  padding: 5px;
  color: rgb(0, 82, 0);
}
