<div *ngIf="this.driverData; else loading">

  <div class="nav">
    <a routerLink="/drivers"><mat-icon>arrow_back_ios</mat-icon></a>
  </div>

  <h1>{{this.driverData.forename + ' ' + this.driverData.surname}}</h1>

  <div *ngIf="this.imageData.url">
    <img class="picture" src="{{this.imageData.url}}">
  </div>

  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let element">{{element.item}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element">{{element.value}}</td>
    </ng-container>

    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>

</div>
<ng-template #loading><p>Loading...</p></ng-template>

