[Unit]
Description=3tapp - Web Service
Documentation=https://github.com/jondwaite/3tapp
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=photon
ExecStart=/home/photon/.npm-packages/bin/nodemon /home/photon/3tapp/web/frontend/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target