<mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter text..." #input>
</mat-form-field>

<div id="driverstable">

    <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="forename">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
            <td mat-cell *matCellDef="let element">{{element.forename}}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
            <td mat-cell *matCellDef="let element">{{element.surname}}</td>
        </ng-container>

        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Race #</th>
            <td mat-cell *matCellDef="let element">{{element.number}}</td>
        </ng-container>

        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</th>
            <td mat-cell *matCellDef="let element">{{element.nationality}}</td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
            <td mat-cell *matCellDef="let element">{{element.code}}</td>
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth Date</th>
            <td mat-cell *matCellDef="let element">{{element.dob | date : 'dd/MM/yy'}}</td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Current Age</th>
            <td mat-cell *matCellDef="let element">{{getCurrentAge(element.dob)}}</td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wikipedia</th>
          <td mat-cell *matCellDef="let element"><a mat-raised-button color="primary" href={{element.url}} target="_blank">Link</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true" ></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" pageSize="20" showFirstLastButtons></mat-paginator>

</div>
