[Unit]
Description=3tapp - Web Status Service
Documentation=https://github.com/jondwaite/3tapp
After=network.target

[Service]
Environment="PORT=3001"
Type=simple
User=photon
ExecStart=/home/photon/3tapp/web/status/statusapi.py
Restart=on-failure

[Install]
WantedBy=multi-user.target