[Unit]
Description=3tapp - API Service
Documentation=https://github.com/jondwaite/3tapp
After=network.target

[Service]
Environment=NODE_PORT=3002
Type=simple
User=photon
ExecStart=/usr/bin/node /home/photon/3tapp/app/api/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target