[Unit]
Description=Database Status Service
Documentation=https://github.com/jondwaite/3tapp
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=photon
ExecStart=/usr/bin/node /home/photon/3tapp/db/status/status.js
Restart=on-failure

[Install]
WantedBy=multi-user.target