[Unit]
Description=3tapp - Database Status Service
Documentation=https://github.com/jondwaite/3tapp
After=network.target

[Service]
Environment=NODE_PORT=3004
WorkingDirectory=/home/photon/3tapp/db/status
Type=simple
User=photon
ExecStart=/home/photon/.npm-packages/bin/nodemon /home/photon/3tapp/db/status/status.js
Restart=on-failure

[Install]
WantedBy=multi-user.target