<mat-nav-list>
    <h2 matSubheader>Tables</h2>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/drivers" selected>Drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/constructors">Constructors</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/circuits">Circuits</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/statuspage">App Status</a>
    <mat-divider></mat-divider>
</mat-nav-list>
